@model WEB.Models.TrackViewModels
<link href="~/Content/bootstrap-rating.css" rel="stylesheet">
<div id="TrackDetails">
    <div id="TrackImage">
        <img class="group list-group-image" src="~/Content/Images/@Model.Pictures.FirstOrDefault().Name" alt="" />
    </div>
    <div class="caption">
        <h3>"Это маршрут"</h3>
        <div class="TrackName">
            <h4>
                @Model.Name
            </h4>
        </div>

        <p>
            @Model.Description
        </p>
        <input type="hidden" class="rating" disabled="disabled"/>
        <div class="TrackRating">
            <input type="hidden" class="rating"/>
        </div>
    </div>
    <div class="modal-header">
        <div class="col-xs-8">
            <input class="form-control" id="place1" type="text" value="Добавить контрольную точку">
        </div>
        <a class="button cross"></a>
    </div>
</div>
<script>
    $('#sumbit').on('click', function (e) {
        $("#CreatePlacePanel").show();
        $('.modal-header')
            .prepend($(
                ' <div class="col-xs-8"> <input class="form-control" id="place1" type="text" value="Добавить контрольную точку">  </div> <a class="button cross"></a>'));
    });
    $('.cross').on('click', function (e) {
        $("#CreatePlacePanel").hide();
       
    });
</script>
<script>
    $('#TrackDetails').click(function() {
        $('#PlaceDetails').hide(300);
        selectMarker.setAnimation(null);
        selectMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
    })
</script>