@model WEB.Models.TrackViewModels
    <div id="map"></div>
    <div class="ButtonPanel">
        <div class="btn-group btn-group-justified">
            <a id="CreatePlace" class="btn btn-primary">Создать точку</a>
            <a id="CreateTrack" class="btn btn-primary">Создать маршрут</a>
        </div>
    </div>
