@model IEnumerable<WEB.Models.TrackViewModels>

<style>
    .demo-card-wide.mdl-card {
        width: 512px;
    }

    .demo-card-wide > .right {
        color: #fff;
        height: 176px;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>

<div class="search-results">
    @foreach (var i in @Model)
    {
        <div class="search-card mdl-shadow--2dp ">
            
            <div class="mdl-card__title" style="background: url('../../Content/Images/@i.Pictures[0].Name') center/cover;">
            </div>

            <div class="demo-card-wide mdl-card">
                <div class="card-main-info">
                    <div class="mdl-card__supporting-text">
                        <h4> @i.Name</h4>
                        <p> @i.Description</p>
                    </div>
                    <div class="price-block ">
                        <p>
                            @i.Rating
                        </p>
                    </div>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <form action="~/Track/Edit/">
                        <input type="text" hidden="hidden" value="@i.Id" name="id" />
                        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Подробнее
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>