@model string
@{
    ViewBag.Title = "Home Page";
}
<div id="map"></div>
@Styles.Render("~/Content/Styles.css")
<script src="~/Scripts/gmaps.js"></script>
<script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 41.876, lng: -87.624}
        });

        var ctaLayer = new google.maps.KmlLayer({
            url: '@Model',
          map: map
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlr6EQIpiTn35E_RJ-TFvfo1vHKR_ajts&callback=initMap">
</script>
