@model string
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div id="floating-panel">
        <input onclick="clearMarkers();" type=button value="Hide Markers">
        <input onclick="showMarkers();" type=button value="Show All Markers">
        <input onclick="deleteMarkers();" type=button value="Delete Markers">
        <input type="submit" id="submit" value="">
    </div>
    <div id="directions-panel"></div>
</div>
<style>
    .stationInfo {
        height: 150px;
        width: 250px;
    }

    #map {
        height: 850px;
        width: 100%;
        background: gray;
    }

    #floating-panel {
        position: absolute;
        top: 5%;
        right: 30%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
</style>

<div id="map"></div>

<script src="~/Scripts/gmaps.js"></script>
<script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 41.876, lng: -87.624}
        });

        var ctaLayer = new google.maps.KmlLayer({
            url: '@Model',
          map: map
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlr6EQIpiTn35E_RJ-TFvfo1vHKR_ajts&callback=initMap">
</script>
