@model WEB.Models.PlaceViewModels
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<div class="item  col-xs-4 col-lg-4">
    <div class="thumbnail">
        <button class="close" type="button" data-dismiss="modal">x</button>
        <img class="group list-group-image" src="~/Content/Images/@Model.Pictures.FirstOrDefault().Name" alt="" />
        <div class="caption">
            <h4>
                @Model.Name
            </h4>

            <p>
                @Model.Description
            </p>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p class="lead">
                        @Model.Rating
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script> $('.close').on('click', function (e) {
    $('.thumbnail').hide();
}); </script>