@model WEB.Models.PlaceViewModels
<div class="item  col-xs-4 col-lg-4">
<div class="thumbnail">
    <img class="group list-group-image" src="~/Content/Images/@Model.Pictures.FirstOrDefault().Name" alt="" />
    <div class="caption">
        <h4 class="group inner list-group-item-heading">
            @Model.Name</h4>
        <p class="group inner list-group-item-text ">
            <p>
                "Latitude"
                </p>
            @Model.Latitude
        </p>
        <p class="group inner list-group-item-text">
            @Model.Longitude
        </p>
        <p class="group inner text-info">
            @Model.Description
        </p>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p class="lead">
                    $21.000</p>
            </div>
        </div>
    </div>
</div>
</div>