  .stationInfo {
        height: 150px;
        width: 250px;
    }

    #map {
        position: absolute;
        top: 4.5%;
        left: 0;
        right: 0;
        bottom: 0;
        background: gray;
    }

    #floating-panel {
        position: absolute;
        top: 5%;
        right: 30%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
	
	#PlaceDetails{
		position: absolute;
		top : 0px;
		left : 445px;
		width : 20px;
		height : 200px;
		background: 
	}
	
	.thumbnail{
    border-color : black;
	background : #f7f7e2;
}
.item{
	 position: absolute;
	 padding-left: 20px;
	 width: 500px;
        top: 60px;
        left: 0px; 
        bottom: 600px;
	}
	
	#CreatePlacePanel{
		position: absolute;
	    padding-left: 10px;
	    width: 450px;
		height : 460px;        
        left: 10px; 
		top: 120px;
		background : #f7f7e2;
		border: 1px outset #8f7d75;
	}
	
	#TrackDetails{
		position: relative;
		background : #f7f7e2;
		border: 1px outset #8f7d75;
	}	

	.ButtonPanel{
	    position: absolute;
		width : 340px;
		height :36px;
		padding : 1px;
		top : 55px;
		left : 120px;
		 background: white;
		border: 1px outset #8f7d75;
	}


